.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
  height: 100vh;
}
.card {
  border: solid 1px transparent;
  border-radius: 5px;
  padding: 10px;
}
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

.button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  height: 30px;
}
